@import "../../styles/branding.scss";

.hw_contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__person {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__details {
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
    }
    &__sidesplit {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media only screen and (min-width: 744px) {
            flex-direction: row;
        }
    }
    &__persondetails {
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: stretch;
        &image {
            max-height: 95px;
            width: 30%;
            border-radius: 4px;
            box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
            object-fit: cover;
        }
        &text {
            max-width: 200px;
        }
        align-items: center;
    }
    &__contactdetails {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 4px;
        letter-spacing: -0.5px;
    }
    .hw_icon {
        width: 25px;
        min-width: 25px;
    }
    .hw_svgicon__fill {
        fill: $color-primary-dark;
    }
    .hw_svgicon__stroke {
        stroke: $color-primary-dark;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .hw_button {
        width: 100%;
    }
}