
/* width */
::-webkit-scrollbar {
    width: 16px;
    opacity: 0.5;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 2px;
    opacity: 0.5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 2px;
    opacity: 0.5;
  }