.hw_footer {
    position: relative;
    box-shadow: 0px -2px 12px 1px rgba(0, 0, 0, 0.4);
    margin-top: auto;
    background: linear-gradient(0deg, #faac63 0%, #FF7801 100%);
    padding: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    @media only screen and (min-width: 744px) {
        padding: 20px 40px;
    }
    @media only screen and (min-width: 1244px) {
        padding: 40px 80px;
    }

    &__links {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__language, &__links {
        margin-left: auto;
    }
    &__copyright {
        text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        
        @media only screen and (min-width: 744px) {
            
        }
        @media only screen and (min-width: 1240px) {
            gap: 60px;
            .hw_footer__item {
                width: 33%;
            }
        }
    }
}