.hw_route {
    padding-top: 35px;
    @media only screen and (min-width: 740px) { padding-top: 45px; }
    @media only screen and (min-width: 1440px) { padding-top: 60px; }    
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
    @media only screen and (min-width: 740px) { height: calc(100% - 80px); }
    @media only screen and (min-width: 1440px) { height: calc(100% - 85px); }    
    
    &--dark {
        background-color: black;
    }

    margin: 50px auto;

    display: flex;
    flex-direction: column;
    gap: 40px;

}