.hw_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    &__icon {
        width: 50px;
        @media only screen and (min-width: 740px) { width: 55px; }
        @media only screen and (min-width: 1440px) { width: 60px; }
    }
    &__text {
        font-family: "ADLaMDisplay";
        font-weight: 900;
        font-size: 18px;
        line-height: 18px;
        @media only screen and (min-width: 740px) { font-size: 20px; line-height: 20px;}
        @media only screen and (min-width: 1440px) { font-size: 21px; line-height: 21px;}
        display: flex;
        flex-direction: column;
    }
    &--light &__primary {
        color: #454242;
    }
    &--dark &__primary {
        color: #FFFFFF;
    }
    &__secondary {
        color: #F27E09;
    }
}