$light_primary: white;
$dark_primary: #454242;

.hw_icon {
    &--light {
        .hw_svg__fill {
            fill: $dark_primary;
        }
        .hw_svg__stroke {
            stroke: $dark_primary;
        }
    }
    &--dark {
        .hw_svg__fill {
            fill: $light_primary;
        }
        .hw_svg__stroke {
            stroke: $light_primary;
        }
    }
}