.hw_cookiebanner {
    position: fixed;
    top: 200px;
    background: linear-gradient(0deg, #faac63 0%, #FF7801 100%);
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.4);
    z-index: 3;
    border-radius: 6px;
    width: 260px;
    left: calc(50% - 150px);
    padding: 20px;

    &--page {
        position: absolute;
    }


    @media only screen and (min-width: 740px) { 
        width: 620px;
        left: calc(50% - 350px);
        padding: 40px;
    }
    @media only screen and (min-width: 1440px) { 
        padding: 60px;
        width: 1280px;
        left: calc(50% - 700px);
    }

    &__close {
        width: 30px;
        position: absolute;
        top: 16px;
        right: 16px;
        transition: transform .15s;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.9);
        }
    }

    display: flex;
    flex-direction: column;
    gap: 20px;
    &__options {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__controls {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__button {
        width: 100%;
    }
}

