.hw_cookiebanner {
    position: fixed;
    top: 200px;
    background: linear-gradient(0deg, #faac63 0%, #FF7801 100%);
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.4);
    z-index: 3;
    border-radius: 40px;
    width: 260px;
    left: calc(50% - 150px);
    padding: 20px;

    &--page {
        position: absolute;
    }

    &__title, &__text {
        text-align: left;
    }

    @media only screen and (min-width: 740px) { 
        width: 620px;
        left: calc(50% - 350px);
        padding: 40px;
    }
    @media only screen and (min-width: 1440px) { 
        padding: 60px;
        width: 1280px;
        left: calc(50% - 700px);
    }

    &__close {
        width: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.4);
        border-radius: 30px;
        padding: 10px;
        transition: transform .15s;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.9);
        }
        background-color: #ffff;
    }
    &--dark &__close {
        background-color: #ffefd7;
    }

    &--light &__close {
        .hw_svg__fill {
            fill: #454242;
        }
    }

    &--dark &__close {
        .hw_svg__fill {
            fill: #454242;
        }
    }

    display: flex;
    flex-direction: column;
    gap: 20px;
    &__options {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__controls {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media only screen and (min-width: 744px) {
            flex-direction: row;
        }
    }

    &__button {
        width: 100%;
    }

    &__close, &__title, &__text, &__controls, &__options, &__delete {
        z-index: 4;
    }
    &__bg {
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 3;
        border-radius: 40px;

    }
    &__delete {
        font-weight: 600;
        text-decoration: underline;
        text-align: left;
        cursor: pointer;
        transition: transform .15s;
        width: fit-content;
        &:hover {
            transform: scaleY(1.1) scaleX(1.05);
        }
        &:active {
            transform: scaleY(0.9) scaleX(0.95);
        }
    }
    &__bg { width: 280px; }
    @media only screen and (min-width: 740px) { 
        &__bg { width: 400px; }
    }
    @media only screen and (min-width: 1440px) { 
        &__bg { width: 500px; }
    }

    &__fg {
        display: block;
        width: 100vW;
        height: 100vH;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.8;
        z-index: 3;
        background-color: rgb(255, 243, 177);
    }
}

