.hw_home {
    &__title {
        margin-bottom: -20px;
    }
    .hw_heading {
        font-family: "BowlbyOneSC";
    }
    &__carousell {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }
    &__carousellitem {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}