.hw_textbox {
    border-radius: 50px;

    &--light {
        background-color: #FFFFFF;
        color: #515151;
        .hw_svg__fill {
            fill: #515151
        }
    }
    &--dark {
        background-color: #515151;
        color: white;
        .hw_svg__fill {
            fill: white;
        }
    }
}

